footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background-color: gainsboro;

    .icons {
        display: flex;
        gap: 0 30px;

        svg {
            width: 50px;
        }
    }

    .footer-list {
        display: flex;
        align-items: center;
        gap: 0 50px;

        a {
            text-decoration: none;
            color: $primary-color;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1000px) {
    footer {
        padding: 20px 50px;
    
        .icons {
            gap: 0 15px;
    
            svg {
                width: 40px;
            }
        }
    
        .footer-list {
            gap: 0 20px;
    
            a {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width:700px) {
    footer {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 50px 0;
        background-color: gainsboro;
    
        .icons {
            display: flex;
            gap: 0 30px;
            margin-top: -40px;
    
            svg {
                width: 40px;
            }
        }
    
        .footer-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0 50px;
    
            a {
                text-decoration: none;
                color: $primary-color;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                margin: 3px 0;
            }
        }
    }
}