@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url("../../assets/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  margin-bottom: 40px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}
header nav h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #3e4141;
}
header nav .nav-list {
  display: flex;
  align-items: center;
  gap: 0 50px;
}
header nav .nav-list a {
  text-decoration: none;
  color: #3e4141;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
header nav .nav-list .nav-list-border {
  border: 3px solid #3e4141;
  padding: 10px 20px;
}
header .hamburger {
  display: none;
}
header .header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: #3e4141;
}
header .header-main h1 {
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: 300;
}
header .header-main p {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 0;
}
header .header-main p .header-desc-mobile {
  display: none;
}
header .header-main hr {
  width: 4rem;
  border: 3px solid #3e4141;
}

@media screen and (max-width: 1000px) {
  header {
    height: 600px;
  }
  header nav h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #3e4141;
  }
  header nav .nav-list a {
    font-size: 18px;
  }
  header .header-main h1 {
    font-size: 8rem;
  }
  header .header-main p {
    font-size: 24px;
  }
}
@media screen and (max-width: 700px) {
  header {
    height: 600px;
  }
  header nav {
    display: none;
  }
  header .hamburger {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  header .hamburger svg {
    width: 30px;
    color: whitesmoke;
  }
  header .header-main h1 {
    font-size: 4rem;
    font-weight: 500;
  }
  header .header-main p {
    font-size: 18px;
  }
  header .header-main p .header-desc-mobile {
    display: inline;
  }
}
main .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px 0;
  margin: 50px 0;
}
main .article .latest-article-head {
  color: #3e4141;
}
main .article .latest-article-head h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
main .article .latest-article-head hr {
  width: 4rem;
  border: 3px solid #3e4141;
  margin: 10px auto;
}
main .article .article-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0 75px;
}
main .article .article-list .article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  max-width: 400px;
  padding: 20px 0;
  box-shadow: 1px 3px 2px #3e4141;
}
main .article .article-list .article-container img {
  width: 351px;
  height: 300px;
}
main .article .article-list .article-container hr {
  width: 3rem;
  border: 3px solid #3e4141;
  margin: 20px auto;
}
main .article .article-list .article-container p {
  width: 50%;
  text-align: center;
  margin: 30px 0;
}

@media screen and (max-width: 1000px) {
  main .article {
    gap: 30px 0;
  }
  main .article .article-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 0;
  }
}
main .about {
  display: flex;
  background-color: gainsboro;
  margin: 100px 0;
}
main .about .about-image-container {
  width: 50%;
  display: flex;
  justify-content: center;
}
main .about .about-text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px 0;
  align-items: center;
  padding: 0 60px;
  color: #3e4141;
}
main .about .about-text .about-desc h2 {
  text-transform: uppercase;
  font-size: 30px;
}
main .about .about-text .about-desc hr {
  width: 4rem;
  border: 3px solid #3e4141;
  margin: 10px auto;
}
main .about .about-text p {
  font-size: 18px;
  line-height: 50px;
}

@media screen and (max-width: 1000px) {
  main .about .about-image-container img {
    width: 450px;
    height: 670px;
  }
  main .about .about-text {
    gap: 30px 0;
    padding: 0 50px;
  }
  main .about .about-text .about-desc h2 {
    font-size: 30px;
  }
  main .about .about-text p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 700px) {
  main .about {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    margin: 100px 0;
  }
  main .about .about-image-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
  }
  main .about .about-image-container img {
    object-fit: cover;
    height: 300px;
  }
  main .about .about-text {
    width: 100%;
    gap: 40px 0;
    padding: 0 40px;
    margin: 40px 0;
  }
  main .about .about-text p {
    font-size: 16px;
    line-height: 40px;
  }
}
main .subscribe {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  color: #3e4141;
}
main .subscribe .subscribe-title {
  text-align: center;
}
main .subscribe .subscribe-title h2 {
  font-size: 38px;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
main .subscribe .subscribe-title h3 {
  font-weight: 500;
}
main .subscribe input {
  width: 30%;
  border: none;
  font-size: 18px;
  outline: none;
}
main .subscribe button {
  background-color: gainsboro;
  padding: 8px 32px;
  text-transform: uppercase;
  font-size: 20px;
  border: 2px solid #3e4141;
  cursor: pointer;
  color: #3e4141;
}
main .subscribe button:hover {
  background-color: #3e4141;
  border: 2px solid gainsboro;
  color: whitesmoke;
  transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 1000px) {
  main .subscribe input {
    width: 70%;
    font-size: 16px;
  }
  main .subscribe button {
    width: 80%;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  background-color: gainsboro;
}
footer .icons {
  display: flex;
  gap: 0 30px;
}
footer .icons svg {
  width: 50px;
}
footer .footer-list {
  display: flex;
  align-items: center;
  gap: 0 50px;
}
footer .footer-list a {
  text-decoration: none;
  color: #3e4141;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  footer {
    padding: 20px 50px;
  }
  footer .icons {
    gap: 0 15px;
  }
  footer .icons svg {
    width: 40px;
  }
  footer .footer-list {
    gap: 0 20px;
  }
  footer .footer-list a {
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 50px 0;
    background-color: gainsboro;
  }
  footer .icons {
    display: flex;
    gap: 0 30px;
    margin-top: -40px;
  }
  footer .icons svg {
    width: 40px;
  }
  footer .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 50px;
  }
  footer .footer-list a {
    text-decoration: none;
    color: #3e4141;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin: 3px 0;
  }
}

/*# sourceMappingURL=main.css.map */
